body{
    font-family: 'Sriracha', cursive;
}
#techer{
    font-size: 30px;
    color: coral;
    text-align: center;
    background-color: pink;
    padding: 10px;
}
#techer1{
    font-size: 30px;
    color: rgb(209, 236, 197);
    text-align: left;
    background-color: rgb(31, 66, 75);
    padding: 50px;
}
#techer2{
    font-size: 30px;
    color: rgb(229, 233, 168);
    text-align: right;
    background-color: rgb(68, 158, 109);
    padding: 50px;
}
#techer3{
    font-size: 30px;
    color: coral;
    text-align:left;
    background-color: pink;
    padding: 50px;
}
#techer4{
    font-size: 30px;
    color: coral;
    text-align: right;
    background-color: pink;
    padding: 50px;
}